Your username is  __USERNAME__
Confirmation code to change your password is __CONF_CODE__ 
To change your password follow the instruction given on the page 
__URL__
If you didn\'t want to change password. Just delete this e-mail message.
